.box {
    width: 100px;
    height: 100px;
    background: rgb(194, 113, 174);
    border: 2px solid rgb(234, 241, 237);
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}